<div class="page-header">
  <h1>
    Ingredient groups
    <a href="/ingredient_groups/new" class="btn btn-lg btn-success">New Ingredient group</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Ingredient</th>
        <th>Actions</th>
      </tr>

      <% @ingredient_groups.each do |ingredient_group| %>
      <tr>
        <td><%= ingredient_group.name %></td>
        <td><%= ingredient_group.ingredient_id %></td>
        <td>
          <a href="/ingredient_groups/<%= ingredient_group.id %>" class="btn btn-primary">Show</a>
          <a href="/ingredient_groups/<%= ingredient_group.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_ingredient_group/<%= ingredient_group.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
