<div class="page-header">
  <h3>Ingredient Group #<%= @ingredient_group.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @ingredient_group.name %></dd>

      <dt>Ingredient</dt>
      <dd><%= @ingredient_group.ingredient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ingredient_groups" class="btn btn-primary">
        Back
      </a>
      <a href="/ingredient_groups/<%= @ingredient_group.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ingredient_group/<%= @ingredient_group.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
