<!-- Validation failure messages -->
<% if @recipe_method.errors.any? %>
  <% @recipe_method.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Recipe Method #<%= @recipe_method.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_recipe_method/<%= @recipe_method.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Recipe
        </label>

        <input type="text" id="recipe_id" name="recipe_id" placeholder="Recipe" class="form-control" value="<%= @recipe_method.recipe_id %>">
      </div>

      <!-- Label and input for sequence -->
      <div class="form-group">
        <label for="sequence" class="control-label">
          Sequence
        </label>

        <input type="text" id="sequence" name="sequence" placeholder="Sequence" class="form-control" value="<%= @recipe_method.sequence %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @recipe_method.description %></textarea>
      </div>

      <button class="btn btn-warning">
        Update Recipe Method
      </button>
      or
      <a href="/recipe_methods/<%= @recipe_method.id %>">Cancel</a>
    </form>
  </div>
</div>
