<div class="page-header">
  <h1>
    Favorite pairings
  </h1>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @favorite_pairings.present?%>
          <table class="table">
            <tr>
              <th>First Ingredient</th>
              <th>Second Ingredient</th>
              <th>Pairing Strength</th>
              <th>Likes</th>
              <th>Like this</th>
            </tr>
            <% @favorite_pairings.each do |pairing| %>
              <tr>
                <td><a href="/ingredients/<%=pairing.pairing.first_ingredient_id%>"><%= Ingredient.find(pairing.pairing.first_ingredient_id).name %></a></td>
                <td><a href="/ingredients/<%=pairing.pairing.second_ingredient_id%>"><%= Ingredient.find(pairing.pairing.second_ingredient_id).name %></a></td>
                <td><%= pairing.pairing.pairing_strength %></td>
                <td><%= pairing.pairing.favorite_pairings.count %></td>
                <td>
                  <form action="/delete_favorite_pairing/<%= pairing.id %>">
                    <input type="hidden" name="back_to" value="favorite_pairings">
                    <button class="btn btn-link">
                      <i class="fa fa-heart"></i>
                    </button>
                    </a>
                  </form>
                </td>
              </tr>
            <% end %>
          </table>
        <% else %>
          You don't have any favorite pairings.
        <% end %>
      </div>
    </div>
  </div>
</div>
