<div class="page-header">
  <h3>Ingredient Taste #<%= @ingredient_taste.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Ingredient</dt>
      <dd><%= @ingredient_taste.ingredient_id %></dd>

      <dt>Taste</dt>
      <dd><%= @ingredient_taste.taste_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ingredient_tastes" class="btn btn-primary">
        Back
      </a>
      <a href="/ingredient_tastes/<%= @ingredient_taste.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ingredient_taste/<%= @ingredient_taste.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
