<!-- Validation failure messages -->
<% if @ingredient.errors.any? %>
  <% @ingredient.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Ingredient</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_ingredient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="name" class="control-label">
              Name
            </label>
          </div>
          <div class="col-md-10">
            <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @ingredient.name %>">
          </div>
        </div>
      </div>  

      <!-- Label and input for weight -->
      <div class="row">
        <div class="form-group">
          <div class="col-md-2"> 
            <label for="weight" class="control-label">
              Weight
            </label>
          </div>
          <div class="col-md-10">  
            <%= select_tag(:weight, options_for_select([
              ['light','light'], 
              ['light-medium','light-medium'],
              ['medium','medium'],
              ['medium-heavy','medium-heavy'],
              ['heavy','heavy'],
              ], @ingredient.weight), :class => "form-control", :include_blank => true) %> 
          </div>
        </div>
      </div>

      <!-- Label and input for volume -->
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="volume" class="control-label">
              Volume
            </label>
          </div>
          <div class="col-md-10">  
            <%= select_tag(:volume, options_for_select([
              ['quiet','quiet'], 
              ['quiet-moderate','quiet-moderate'],
              ['moderate','moderate'],
              ['moderate-loud','moderate-loud'],
              ['loud','loud'],
              ['quiet-loud','quiet-loud'],
              ], @ingredient.volume), :class => "form-control", :include_blank => true) %>
          </div>
        </div>
      </div>
      
      <!-- Label and input for season -->
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="season" class="control-label">
              Season
            </label>
          </div>
          
          <div class="col-md-10">
             <%= select_tag(:season, options_for_select([
              ['winter','winter'], 
              ['winter-spring','winter-spring'],
              ['spring','spring'],
              ['spring-summer','spring-summer'],
              ['summer','summer'],
              ['summer-autumn','summer-autumn'],
              ['autumn','autumn'],
              ['autumn-winter','autumn-winter'],
              ['year round','year-round']
              ], @ingredient.season), :class => "form-control", :include_blank => true) %>    
          </div>
        </div>
      </div>

      <!-- Label and input for function -->
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="function" class="control-label">
              Function
            </label>
          </div>
          
          <div class="col-md-10">
             <%= select_tag(:function, options_for_select([
              ['cooling','cooling'], 
              ['warming','warming'],
              ['heating','heating']
              ], @ingredient.function), :class => "form-control", :include_blank => true) %>   
          </div>
        </div>
      </div>

      <!-- Label and input for form -->
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="form" class="control-label">
              Form
            </label>
          </div>
          
          <div class="col-md-10">
             <%= select_tag(:form, options_for_select([
              ['dry','dry'], 
              ['wet','wet'],
              ['each','each']
              ], @ingredient.form), :class => "form-control", :include_blank => true) %>   
          </div>
        </div>
      </div>

      <button class="btn btn-success">
        Create Ingredient
      </button>
      or
      <a href="/ingredients">Cancel</a>
    </form>
  </div>
</div>
