<div class="page-header">
  <h2>
    <%= @ingredient.name.titlecase %>
    <span>
      <% if current_user.favorite_ingredients.where(:ingredient_id => @ingredient.id).present? %>
        <form action="/delete_favorite_ingredient/<%= current_user.favorite_ingredients.find_by(:ingredient_id => @ingredient.id).id %>">
          <input type="hidden" name="key" value="<% @ingredient.id %>">
          <button class="btn btn-link">
            <i class="fa fa-heart"></i>
          </button>
          </a>
        </form>
      <% else %>
        <form action="/create_favorite_ingredient" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="w1iLjvXzqYtx/ZzTeVLpx2o5GmuxYRT5y80KYEt+d6yEfZSWhn3rBwIWG/08tJW1S1AgSrr4D37in+f/2tVoCQ==">
          
          <input type="hidden" name="ingredient_id" value="<%= @ingredient.id %>">
          <input type="hidden" name="key" value="<% @ingredient.id %>">
    
          <button class="btn btn-link">
            <i class="fa fa-heart-o"></i>
          </button>
        </form>
      <% end %>
    </span>
  </h2>
</div>

<div class="row">
  <div class="col-md-6 mb-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Ingredient information</h4>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">

          <dt>Weight</dt>
          <dd><%= @ingredient.weight %></dd>
    
          <dt>Volume</dt>
          <dd><%= @ingredient.volume %></dd>
    
          <dt>Season</dt>
          <dd><%= @ingredient.season %></dd>
    
          <dt>Function</dt>
          <dd><%= @ingredient.function %></dd>
    
          <dt>Form</dt>
          <dd><%= @ingredient.form %></dd>
          
          <dt>Taste</dt>
          <dd><%= @ingredient.tastes.order(:name).map(&:name).join(", ") %></dd>
          
          <dt>Techniques</dt>
          <dd><%= @ingredient.techniques.order(:name).map(&:name).join(", ") %></dd>
    
        </dl>
      </div>
      <div class="btn-group btn-group-justified">
        <a href="/ingredients" class="btn btn-primary">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
        </a>
        <a href="/ingredients/<%= @ingredient.id %>/edit" class="btn btn-warning">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true">
        </a>
        <% if @ingredient.user_id == current_user.id %>
          <a href="/delete_ingredient/<%= @ingredient.id %>" class="btn btn-danger" rel="nofollow">
            <span class="glyphicon glyphicon-remove" aria-hidden="true">
          </a>
        <% end %>
      </div>
    </div>
   </div>
  <div class="col-md-6 mb-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Nutritional Information</h4>
      </div>
      <div class="panel-body">
        <% if @ndbno == "not on file" %>
          <p>No nutritional information is available.</p>
        <% else %>
          <dl class="dl-horizontal">
            <dt>Serving size</dt>
            <dd><%= @serving_description %>, (<%= @serving_grams %> g)</dd>
      
            <dt>Calories:</dt>   
            <dd><%= @calories %></dd>
      
            <dt>Fat:</dt> 
            <dd><%= @fat %> g</dd>
      
            <dt>Carbohydrates:</dt>
            <dd><%= @carbs %> g</dd>
      
            <dt>Sugars:</dt>
            <dd><%= @sugars %></dd>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Pairings
        </h3>
      </div>
      <div class="panel-body">
        <% if @ingredient.first_pairings.present? || @ingredient.second_pairings.present? %>
          <table class="table">
            <tr>
              <th>Like this</th>
              <th>Ingredient</th>
              <th>Pairing Strength</th>
              <th>Likes</th>
              <th> </th>
            </tr>
            <% if @ingredient.first_pairings.present? %> 
              <% @ingredient.first_pairings.each do |pairing| %>
                <tr>                  
                  <td>
                    <% if current_user.favorite_pairings.where(:pairing_id => pairing.id).present? %>
                      <form action="/delete_favorite_pairing/<%= current_user.favorite_pairings.find_by(:pairing_id => pairing.id).id %>">
                        <input type="hidden" name="key" value="<%= @ingredient.id%>">
                        <button class="btn btn-link">
                          <i class="fa fa-heart"></i>
                        </button>
                        </a>
                      </form>
                    <% else %>
                      <form action="/create_favorite_pairing" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="w1iLjvXzqYtx/ZzTeVLpx2o5GmuxYRT5y80KYEt+d6yEfZSWhn3rBwIWG/08tJW1S1AgSrr4D37in+f/2tVoCQ==">
                        
                        <input type="hidden" name="pairing_id" value="<%= pairing.id %>">
          
                        <input type="hidden" name="user_id" value="<%= current_user.id %>">
                        
                        <input type="hidden" name="ingredient_id" value="<%= @ingredient.id%>">
          
                        <button class="btn btn-link">
                          <i class="fa fa-heart-o"></i>
                        </button>
                      </form>
                    <% end %>
                  </td>
                  <td><a href="/ingredients/<%=pairing.second_ingredient_id%>"><%= Ingredient.find(pairing.second_ingredient_id).name %></a></td>
                  <td><%= pairing.pairing_strength %></td>
                  <td><%= pairing.favorite_pairings.count %></td>
                  <td>
                    <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">
                      <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                      </span>
                    </a>
                    <% if pairing.user_id == current_user.id %>
                      <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true">
                        </span>
                      </a>
                    <% end %>
                  </td>
                </tr>
              <% end %>  
            <% end %>
            <% if @ingredient.second_pairings.present? %>
              <% @ingredient.second_pairings.each do |pairing| %>
                <tr>
                  <td>
                    <% if current_user.favorite_pairings.where(:pairing_id => pairing.id).present? %>
                      <form action="/delete_favorite_pairing/<%= current_user.favorite_pairings.find_by(:pairing_id => pairing.id).id %>">
                        <input type="hidden" name="key" value="<%= @ingredient.id%>">
                        <button class="btn btn-link">
                          <i class="fa fa-heart"></i>
                        </button>
                        </a>
                      </form>
                    <% else %>
                      <form action="/create_favorite_pairing" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="w1iLjvXzqYtx/ZzTeVLpx2o5GmuxYRT5y80KYEt+d6yEfZSWhn3rBwIWG/08tJW1S1AgSrr4D37in+f/2tVoCQ==">
                        
                        <input type="hidden" name="pairing_id" value="<%= pairing.id %>">
                        <input type="hidden" name="ingredient_id" value="<%= @ingredient.id%>">

                        <button class="btn btn-link">
                          <i class="fa fa-heart-o"></i>
                        </button>
                      </form>
                    <% end %>                    
                  </td>                  
                  <td><a href="/ingredients/<%=pairing.first_ingredient_id%>"><%= Ingredient.find(pairing.first_ingredient_id).name %></a></td>
                  <td><%= pairing.pairing_strength %></td>
                  <td><%= pairing.favorite_pairings.count %></td>
                    <td>
                    <a href="/pairings/<%= pairing.id %>" class="btn btn-primary">
                      <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                      </span>
                    </a>
                    <% if pairing.user_id == current_user.id %>
                      <a href="/delete_pairing/<%= pairing.id %>" class="btn btn-danger" rel="nofollow">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true">
                        </span>
                      </a>
                    <% end %>
                  </td>

                </tr>
              <% end %>
            <% end %>
          </table>
        <% else %>
          There aren't any recommended pairings yet.
        <% end %>
        <div>
          <form action="/create_pairing" method="post">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      
            <!-- Hidden input for ingredient_id -->
            <input type="hidden" name="first_ingredient_id" value="<%= @ingredient.id %>">
      
            <!-- Label and input for second_ingredient_id -->
            <div class="row">
              <div class="form-group">
                <div class="col-md-2">
                  <label for="second_ingredient_id" class="control-label">
                    Pair with
                  </label>
                </div>

                <div class="col-md-4">
                  <%= select_tag(:second_ingredient_id, options_from_collection_for_select(Ingredient.all.order(:name), :id, :name, @pairing.second_ingredient_id), :class => "form-control") %>
                </div>
                
                <div class="col-md-1">
                  
                </div>
                
                <div class="col-md-2">
                  <label for="pairing_strength" class="control-label">
                    Pairing strength
                  </label>
                </div>        
      
                <div class="col-md-3">
                  <%= select_tag(:pairing_strength, options_for_select([
                    ['good','good'], 
                    ['better','better'],
                    ['best','best'],
                    ], @pairing.pairing_strength), :class => "form-control", :include_blank => true) %>
                </div>
  
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-success">
                Create Pairing
              </button>
              or
              <a href="/ingredients">Cancel</a>
            </div>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <div class="panel panel-default">
      <div class="panel-header">
        <h3 class="panel-title">Recipes</h3>
      </div>
      <div class="panel-body">
        <% if @recipe_list.count == 0 %>
          There aren't any recipe suggestions.
        <% else %>
          <table class="table">
            <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Publisher</th>
            </tr>
            <% @recipe_list.each do |recipe| %>
              <tr>
                <td><img src=<%=recipe["image_url"]%> height="60" width="60"></td>
                <td>
                  <a href=<%= recipe["f2f_url"] %> target="_blank">
                    <%= recipe["title"] %>
                  </a>
                </td>
                <td>
                  <a href=<%= recipe["publisher_url"] %> target="_blank" >
                    <%= recipe["publisher"] %>
                  </a>  
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

