<div class="page-header">
  <h1>
    Favorite recipes
    <a href="/favorite_recipes/new" class="btn btn-lg btn-success">New Favorite recipe</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>User</th>
        <th>Recipe</th>
        <th>Rating</th>
        <th>Actions</th>
      </tr>

      <% @favorite_recipes.each do |favorite_recipe| %>
      <tr>
        <td><%= favorite_recipe.user_id %></td>
        <td><%= favorite_recipe.recipe_id %></td>
        <td><%= favorite_recipe.rating %></td>
        <td>
          <a href="/favorite_recipes/<%= favorite_recipe.id %>" class="btn btn-primary">Show</a>
          <a href="/favorite_recipes/<%= favorite_recipe.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_favorite_recipe/<%= favorite_recipe.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
