<div class="page-header">
  <h3>Favorite Recipe #<%= @favorite_recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @favorite_recipe.user_id %></dd>

      <dt>Recipe</dt>
      <dd><%= @favorite_recipe.recipe_id %></dd>

      <dt>Rating</dt>
      <dd><%= @favorite_recipe.rating %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/favorite_recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/favorite_recipes/<%= @favorite_recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_favorite_recipe/<%= @favorite_recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
